<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyq.wedding.dao.BarrageMapper" >
    <insert id="save" parameterType="com.yyq.wedding.domain.pojo.Barrage">
        INSERT INTO barrage(
            color,
            text,
            size,
            time,
            position
            )
            VALUES (
            #{color},
            #{text},
            #{size},
            #{time},
            #{position}
            )
    </insert>

    <select id="getBarrage" resultType="com.yyq.wedding.domain.pojo.Barrage">
        SELECT
            id,
            color,
            text,
            size,
            time,
            position
        FROM
            barrage
    </select>

</mapper>